/* Set a clean font and layout for the entire page*/
body {
  font-family: Arial, sans-serif;   
  margin: 30px;                     
  background-color:green;  
  line-height: 1.6;      
}

h1{
    color :0000;
}

form {
  margin-bottom: 20px;  
  display:flex;
  flex-wrap:wrap;            
}

input {
  padding: 8px;                     
  font-size: 16px; 
  margin-right:10px;                 
}

/* Style buttons */
button {
  margin: 10px;
  padding: 8px 12px;             
}

ul {
  list-style-type: none;           
  padding: 0;                      
}

/* Style each guest list item */
li {
  background: white;              
  margin: 10px 0;                 
  padding: 10px;                  
  border-left: 1px solid #ccc;  
  align-items: center;  
  display: flex;
  
}

/* Category Tag Styles */
.category {
  margin-left: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}

.friend {
  color: white;
  background-color:red;
}

.family {
  color: white;
  background-color: blueviolet;
}

.colleague {
  color: white;
  background-color: purple;
}